/* Developed by Jozek Andrzej Hajduk Sánchez */
:root {
    --principal-color: #2b2d35;
    --secundary-color: #171c30;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0 40rem;
    background-color: var(--principal-color);
}

main {
    display: grid;
    grid-template: minmax(40%, 3fr) minmax(10%, 1fr) minmax(40%, 3fr) / minmax(20%, 1.3fr) 3fr 2fr;
    grid-template-areas: "left-container video-container video-container" "left-container video-options video-options" "left-container principal-main principal-main";
    height: 100vh;
}

.left-container {
    grid-area: left-container;
    background-color: var(--secundary-color);
    padding: 4rem 1rem 4rem 2rem;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: minmax(80%, 1fr);
    color: white;
}

.left-container__title {
    font-size: 3em;
}

.left-container__title span:nth-of-type(2) {
    color: red;
}

.left-container__subTitle{
    font-size: 1.6em;
    margin-bottom: 3rem
}

.left-container__playList {
    height: 90%;
    /* background-color: red; */
}

.left-container__videos, .left-container__friends-list{
    padding-top: .5rem;
    padding-left: 2.2rem;
    /* background-color: blue; */
    height: 85%;
    font-size: 1.4em;
    overflow-y: hidden;
    /* Saltos de lineas para que no haya overflow */
    overflow-wrap: break-word;
    cursor: pointer;
    text-align: justify;
}

.left-container__video-item:hover, .left-container__friend-item:hover {
    color: rgb(247, 72, 72);
    font-size: 1.1em;
}

.left-container__video-item {
    margin-bottom: 1rem;
}

.left-container__videos:hover, .left-container__friends-list:hover {
    overflow-Y: overlay;
}

/* .left-container__friends {
    background-color: violet
} */

.left-container__friends-list {
    list-style: none;
    padding-left: 2rem;
    height: 96%;
}

.left-container__friend-item {
    margin-bottom: 2rem;
}

.left-container__friend-item img{
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
    border-radius: 50%;
}

.video-container {
    grid-area: video-container;
    background-color: #495167;
}

.video-container__video {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-container__video iframe {
    position: absolute;
    width: 98%;
    height: 96%;
    margin: 1rem;
    transition: all 300ms;
}

.video-container__video iframe:hover{
    transform: scale(1.05);
}

.video-options {
    grid-area: video-options;
    background-color: #495167;
    padding: 2rem;
    border-bottom: .2rem solid #c2c2c2;
}

.video-options__title {
    font-size: 1.8em;
    margin-bottom: .3rem;
    color: white;
}

.video-options__views {
    font-size: 1.4em;
    margin-bottom: 2rem;
    color: white;
}

.video-options__buttons {
    width: 30%;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #495167;
}

.button-add-list {
    width: 50%;
    padding: .7rem;
    border-radius: .6rem;
    outline: none;
    background-color: #ff4d4d;
    color: white;
}

.button img {
    width: 100%;
}

.principal-main {
    grid-area: principal-main;
    display: flex;
    flex-wrap: wrap;
}

.principal-main__comments-container {
    width: 60%;
    height: 100%;
    background-color: #18191a;
    padding: 3rem;
}

.principal-main__title {
    font-size: 1.6em;
    margin-bottom: 2rem;
    color: #b0b3b8;
}

.principal-main__comment-container {
    background-color: #3a3b3c;
    width: 100%;
    height: 3.5rem;
    display: inline-flex;
    margin-bottom: 3rem;
    border-radius: .6rem;
    align-items: center;
}

.principal-main__profile-picture {
    margin-left: 1rem;
}

.principal-main__profile-picture img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.principal-main__comment-container input {
    width: 80%;
    height: 90%;
    border: 0;
    margin-left: 2rem;
    outline: none;
    background-color: transparent;
    color: #b0b3b8;
}

.principal-main__comment-list-container {
    overflow: hidden;
    height: 75%;
    padding: 1rem;
    border-radius: .6rem;
    color: #e4e6eb;
    background-color: #242526;
}

.principal-main__comment-list-container:hover {
    overflow-y: visible;
}

.principal-main__comment-item {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #3a3b3c;
}

.principal-main__user-picture img{
    width: 3rem;
    border-radius: 50%;
}

.principal-main__comment-item div {
    width: 80%;
    margin-left: 2rem;
    font-size: 1.2em;
}

.principal-main__suggestions-container {
    width: 40%;
    height: 100%;
    background-color: #18191a;
    padding: 3rem;
}

.principal-main__suggestion-list {
    height: 94%;
    overflow: hidden;
    padding: 1rem 3rem;
    padding-left: 0;

}

.principal-main__suggestion-item {
    text-decoration: none;
    margin-bottom: 3rem;
}

.principal-main__suggestion-item a {
    text-decoration: none;
    color: white;
}

.principal-main__suggestion-list:hover {
    overflow-y: visible;
}

.principal-main__sugesstion-picture {
    width: 100%;
    margin-bottom: 1rem;
}

.principal-main__sugesstion-picture img {
    width: 100%;
    border-radius: .6rem;
}

