/* Developed by Jozek Andrzej Hajduk Sánchez */
:root {
    --principal-color: #18191a;
    --secundary-color: #191d20;
    --text-color: #b0b3b8;
    --complemental-color: #f74848;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* padding: 0 40rem; */
    background-color: var(--secundary-color);
}

main {
    display: grid;
    grid-template-rows: minmax(45vh, 3fr) minmax(15vh, 1fr) minmax(40vh, 3fr);
    grid-template-columns: minmax(20%, 1.3fr) minmax(40%, 3fr) minmax(40%, 3fr);
    grid-template-areas:
        "left-container video-container video-container"
        "left-container video-options video-options"
        "left-container principal-main principal-main";
    height: 100vh;
    margin: 0 auto;
    width: 60vw;
}

.left-container {
    grid-area: left-container;
    background-color: #131414;
    padding: 4rem .5rem 4rem 1rem;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: minmax(80%, 1fr);
    color: var(--text-color);
}

.left-container__title {
    font-size: 3em;
    color: white;
}

.left-container__title span:nth-of-type(2) {
    color: var(--complemental-color);
}

.left-container__subTitle{
    font-size: 1.6em;
    margin-bottom: 3rem
}

.left-container__overlay {
    /* padding-top: 0.5rem; */
    height: 90%;
    cursor: pointer;
    padding-right: 2rem;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

.left-container__overlay:hover {
    overflow-y: scroll;
}

.left-container__videos {
    padding-left: 2.2rem;
    height: 100%;
    font-size: 1.3em;
}


.left-container__playList {
    height: 90%;
    /* background-color: red; */
}

.left-container__friends-list{
    padding-left: 2.2rem;
    /* background-color: blue; */
    height: 85%;
    font-size: 1.4em;
    overflow-y: hidden;
    /* Saltos de lineas para que no haya overflow */
    overflow-wrap: break-word;
    cursor: pointer;
    text-align: justify;
    list-style: none;
    padding-left: 2rem;
    height: 93%;
}

.left-container__video-item:hover, .left-container__friend-item:hover {
    color: var(--complemental-color);
}

.left-container__video-item {
    margin-bottom: 1rem;
}

.left-container__friends-list:hover {
    overflow-Y: overlay;
}

.left-container__friend-item {
    margin-bottom: 2rem;
}

.left-container__friend-item img{
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
    border-radius: 50%;
}

.video-container {
    grid-area: video-container;
    background-color: var(--principal-color);
}

.video-container__video {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-container__video iframe {
    position: absolute;
    width: 98%;
    height: 96%;
    margin: 1rem;
    transition: all 300ms;
}

.video-container__video iframe:hover{
    transform: scale(1.05);
}

.video-options {
    grid-area: video-options;
    background-color: var(--principal-color);
    padding: 2rem;
    border-bottom: .1rem solid #3a3b3c;
}

.video-options__title {
    font-size: 1.8em;
    margin-bottom: .3rem;
    color: var(--text-color);
}

.video-options__views {
    font-size: 1.4em;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.video-options__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button {
    margin-left: 3rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--principal-color);
}

.button-add-list {
    margin: 0;
    width: 20%;
    padding: .7rem;
    border-radius: .6rem;
    outline: none;
    background-color: var(--complemental-color);
    color: white;
}

.button img {
    width: 100%;
}

.principal-main {
    grid-area: principal-main;
    display: flex;
    flex-wrap: wrap;
}

.principal-main__comments-container {
    width: 60%;
    height: 100%;
    background-color: var(--principal-color);
    padding: 3rem;
}

.principal-main__title {
    font-size: 1.6em;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.principal-main__comment-container {
    background-color: #3a3b3c;
    width: 100%;
    height: 3.5rem;
    display: inline-flex;
    margin-bottom: 3rem;
    border-radius: .6rem;
    align-items: center;
}

.principal-main__profile-picture {
    margin-left: 1rem;
}

.principal-main__profile-picture img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.principal-main__comment-container input {
    width: 80%;
    height: 90%;
    border: 0;
    margin-left: 2rem;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
}

.principal-main__comment-list-container {
    overflow: hidden;
    height: 75%;
    padding: 1rem;
    border-radius: .6rem;
    color: var(--text-color);
    background-color: #242526;
}

.principal-main__comment-list-container:hover {
    overflow-y: visible;
}

.principal-main__comment-item {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #3a3b3c;
}

.principal-main__user-picture img{
    width: 3rem;
    border-radius: 50%;
}

.principal-main__comment-item div {
    width: 80%;
    margin-left: 2rem;
    font-size: 1.2em;
}

.principal-main__suggestions-container {
    width: 40%;
    height: 100%;
    background-color: var(--principal-color);
    padding: 3rem;
}

.principal-main__suggestion-list {
    height: 94%;
    overflow: hidden;
    padding: 1rem 3rem;
    padding-left: 0;

}

.principal-main__suggestion-item {
    text-decoration: none;
    margin-bottom: 3rem;
}

.principal-main__suggestion-item a {
    text-decoration: none;
    color: white;
}

.principal-main__suggestion-list:hover {
    overflow-y: visible;
}

.principal-main__sugesstion-picture {
    width: 100%;
    margin-bottom: 1rem;
}

.principal-main__sugesstion-picture img {
    width: 100%;
    border-radius: .6rem;
}

*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #343536;
    border-radius: .6rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--secundary-color);
    border-radius: .6rem;
}